.stdButton {
    border: solid 1px red;
    background-color: white;
    margin: 1rem;
    cursor: pointer;
}

.redButton {
    background-color: red!important;
    border: solid 5px blue;
}

button:disabled {
    cursor: not-allowed;
}